header article {
    padding: clamp(10px, 2vw, 2em) clamp(20px, 4vw, 3em);
}
hgroup{
    margin-bottom: 30px;
}
.about-me  {
    margin-top: 20px; 
}
.about-me .heading {
    margin-bottom: 30px;
    font-size: clamp(15px, 2vw, 1.3em);
}
header figure, .author-pic {
    height: 100%;
}
#author-name {
    font-weight: normal;
    margin-bottom: 5px;
    font-size: clamp(16px, 5vw, 3em);
}
.author-pic{
    object-fit: cover;
}